<div class="d-md-flex">
  <div>
    <h1 class="h4 mb-1 me-auto"><%= @article.title %></h1>
    <p class="text-muted small mb-3">Added on <%= @article.created_at.strftime("%B %-d") %></p>
  </div>

  <div class="ms-auto">
    <div class="d-flex align-items-start gap-2 mb-4">
      <%= link_to edit_article_path(@article), class: "btn btn-outline-primary d-flex gap-2" do %>
        <i class="bi bi-pencil"></i>
        Edit
      <% end %>
    </div>
  </div>
</div>

<p class="text-body-secondary"><%= @article.body %></p>
